body {
    background-color: black;

}

header {
    color: cadetblue;
}

header, .collage {
    text-align: center;
}

.collage {
    display: flex;
    flex-wrap: wrap;
}

img {
    flex: 1 0 21%;
    margin: 5px;
}

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */